<mat-card class="o-register-registerCard">
  <mat-card-title fxLayoutAlign="center">REGISTER</mat-card-title>

  <form [formGroup]="registerForm" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="register(f)" fxLayout="column">
      <mat-form-field>
        <input matInput type="text" formControlName="email" placeholder="E-mail">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" formControlName="password" placeholder="Password">
      </mat-form-field>
      <button mat-raised-button type="submit" color="primary">REGISTER</button>
    </form>
    <mat-error *ngIf="message">{{ message }}</mat-error>
</mat-card>
